In [46]:
import pandas as pd

url='https://support.spatialkey.com/wp-content/uploads/2021/02/Sacramentorealestatetransactions.csv'

df=pd.read_csv(url)
print('First 8 rows\n')
df.head(8)

First 8 rows

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768
5,5828 PEPPERMILL CT,SACRAMENTO,95841,CA,3,1,1122,Condo,Wed May 21 00:00:00 EDT 2008,89921,38.662595,-121.327813
6,6048 OGDEN NASH WAY,SACRAMENTO,95842,CA,3,2,1104,Residential,Wed May 21 00:00:00 EDT 2008,90895,38.681659,-121.351705
7,2561 19TH AVE,SACRAMENTO,95820,CA,3,1,1177,Residential,Wed May 21 00:00:00 EDT 2008,91002,38.535092,-121.481367

In [48]:
print('Bottom 3 rows')
df.tail(3)

Bottom 3 rows

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
982,7933 DAFFODIL WAY,CITRUS HEIGHTS,95610,CA,3,2,1216,Residential,Thu May 15 00:00:00 EDT 2008,235000,38.708824,-121.256803
983,8304 RED FOX WAY,ELK GROVE,95758,CA,4,2,1685,Residential,Thu May 15 00:00:00 EDT 2008,235301,38.417000,-121.397424
984,3882 YELLOWSTONE LN,EL DORADO HILLS,95762,CA,3,2,1362,Residential,Thu May 15 00:00:00 EDT 2008,235738,38.655245,-121.075915

In [50]:
print((df.T).head(4))

                 0            1               2                 3    \
street  3526 HIGH ST  51 OMAHA CT  2796 BRANCH ST  2805 JANETTE WAY
city      SACRAMENTO   SACRAMENTO      SACRAMENTO        SACRAMENTO
zip            95838        95823           95815             95815
state             CA           CA              CA                CA

                    4                   5                    6    \
street  6001 MCMAHON DR  5828 PEPPERMILL CT  6048 OGDEN NASH WAY
city         SACRAMENTO          SACRAMENTO           SACRAMENTO
zip               95824               95841                95842
state                CA                  CA                   CA

                  7                                8             9    ...  \
street  2561 19TH AVE  11150 TRINITY RIVER DR Unit 114  7325 10TH ST  ...
city       SACRAMENTO                   RANCHO CORDOVA     RIO LINDA  ...
zip             95820                            95670         95673  ...
state              CA                               CA            CA  ...

                        975                976              977  \
street  5024 CHAMBERLIN CIR  2400 INVERNESS DR  5 BISHOPGATE CT
city              ELK GROVE            LINCOLN       SACRAMENTO
zip                   95757              95648            95823
state                    CA                 CA               CA

                     978               979                 980  \
street  5601 REXLEIGH DR  1909 YARNELL WAY  9169 GARLINGTON CT
city          SACRAMENTO         ELK GROVE          SACRAMENTO
zip                95823             95758               95829
state                 CA                CA                  CA

                    981                982               983  \
street  6932 RUSKUT WAY  7933 DAFFODIL WAY  8304 RED FOX WAY
city         SACRAMENTO     CITRUS HEIGHTS         ELK GROVE
zip               95823              95610             95758
state                CA                 CA                CA

                        984
street  3882 YELLOWSTONE LN
city        EL DORADO HILLS
zip                   95762
state                    CA

[4 rows x 985 columns]

Reference used
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.T.html