WEEK 8

Complete the function that converts date to day of week

The function should pass the doctest

A template .ipynb file is provided

In [30]:
from datetime import datetime

def dtConversion(inp):
    """
    This function takes date in the format MON DAY YEAR  HH:MM(PM/AM)
    and returns the day of the week
    Assume input string is UTC

    >>> convert_datetime_to_dayofweek('Jun 1 2005  1:33PM')
    'Wednesday'
    >>> convert_datetime_to_dayofweek('Oct 25 2012  2:17AM')
    'Thursday'
    """
    dt=datetime.strptime(inp, '%b %d %Y %I:%M%p')
    return (dt.strftime('%A'))

print(dtConversion('Jun 18 2001  9:15AM')) #Monday
print(dtConversion('Dec 12 2012  12:00AM')) #Wednesday

Monday
Wednesday

Format code	meaning	example
%a	Abbreviated weekday name	Sun, Mon
%A	Full weekday name 	Sunday, Monday
%w	Weekday as decimal number	0…6
%d	Day of the month as a zero-padded decimal	01, 02
%-d	day of the month as decimal number	1, 2..
%b 	Abbreviated month name	Jan, Feb
%m	month as a zero padded decimal number	01, 02
%-m	month as a decimal number	1, 2
%B 	Full month name	January, February
%y	year without century as a zero padded decimal number	99, 00 
%-y	year without century as a decimal number	0, 99
%Y	year with century as a decimal number	2000, 1999
%H	hour(24 hour clock) as a zero padded decimal number	01, 23
%-H	hour(24 hour clock) as a decimal number	1, 23
%I	hour(12 hour clock) as a zero padded decimal number	01, 12
%-I	hour(12 hour clock) as a decimal number	1, 12
%p	locale’s AM or PM	AM, PM
%M	Minute as a zero padded decimal number	01, 59
%-M	Minute as a decimal number	1, 59
%S	Second as a zero padded decimal number	01, 59
%-S	Second as a decimal number	1, 59
%f	microsecond as a decimal number, zero padded on the left side	000000, 999999
%z	UTC offset in the form +HHMM or -HHMM	 
%Z	Time zone name	 
%j	day of the year as a zero padded decimal number	001, 365
%-j	day of the year as a decimal number	1, 365
%U	Week number of the year (Sunday being the first)	0, 6
%W	Week number of the year	00, 53
%c	locale’s appropriate date and time representation	Mon Sep 30 07:06:05 2013
%x	locale’s appropriate date representation	11/30/98
%X	locale’s appropriate time representation	10:03:43
%%	A literal ‘%’ character	%